<p>currently chatting in <%= @room_id %></p>
<div id="chat-container">
  <div id="chat-messages">
    chat goes here...
  </div>

  <%= f = form_for :chat, "#", id: "chat-form", phx_submit: :submit_message %>
    <%= text_input f, :message, placeholder: "Enter a message..." %>
</div>