<p>currently chatting in <%= @room_id %></p>
<div id="chat-container">
  <div id="chat-messages">
    <%= for message <- @messages do %>
      <p> <%= message %> </p>
    <%= end %>
  </div>

  <!-- chat input form -->
  <%= f = form_for :chat, "#", id: "chat-form", phx_submit: :submit_message %>
    <%= text_input f, :message, placeholder: "Enter a message..." %>
  <!-- chat input form end -->
</div>